
body{
    margin: 0%  ;
}

.home
img{
    width: 100%;
    height: 100%;
    margin-top: 0%;
    
}
.Landing2{
    text-align: center;
    font-size: large;
    font-family: Garamond, serif;
}
.glassmorphism{
    width: 80%;
    height: 7%;
    border-top: 2px solid #ffffff75;
    border-left: 2px solid #ffffff75;
    box-shadow: 5px 5px 12px #00000035;
    background: #ffffff25;
    border-radius: 15px;
    overflow: hidden;
    backdrop-filter: blur(5px);
    margin-left: 10%;
}
.container{
    margin: 10px;
    align-content: center;
    align-self: center;
}
.foot{
    background-color: thistle;
    font-family:Garamond, serif ;
    
}
.foot
p{
    font-weight: 100;
    font-family: Garamond, serif;
    font-style: bold;
}
footer{
    margin-left: 30px;
    
    
}
.social_media{
    display: flexbox;
    
    
}
.Landing3
p{
  font-size: 40px;
  font-family: Garamond, serif;
  text-align: center;
  font-weight: bold;
}
.Landing3
img{
    width: 700px;
    height: 400px;
    margin-inline-start: 20%;
    border-radius: 10px;
}

