
body{
    margin: 0%  ;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.home{
    position: relative;
    overflow: hidden;
}
.home
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.navbar{
    font-family: Garamond, serif;
    
}

.navbar
a{
    display: inline-block;
    padding: 0% 40px;
    color: ECEDB0;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.3s ease;
    font-weight: 700;
}
.glassmorphism{
    height: 7px;
    width: 80%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(7px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
}

    

.Landing2{
    text-align: center;
    font-size: large;
    font-family: Garamond, serif;
}
#motive{
    font-size: 40px;
    font-family: Garamond, serif;
    font-weight: bold;
}

#Gall{
  font-size: 40px;
  font-family: Garamond, serif;
  text-align: center;
  font-weight: bold;
}
.Landing3{
    width: 100%;
    max-width: 800px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.wrapper{
    display: flex;
    width: 1000%;
    height: 100%;
    object-fit: cover;
    animation: slide 10s infinite alternate forwards;
}
.wrapper img{
    width: 95%;
    height: 100%;
    object-fit: fill;
}

.foot{
    background-color: thistle;
    font-family:Garamond, serif ;
    
}
.foot
p{
    font-weight: 100;
    font-family: Garamond, serif;
    font-style: bold;
}
footer{
    margin-left: 30px;
    
    
}
.social_media{
    display: flexbox;
    
    
}

